<div class="col-xs-offset-3 col-xs-6 col-sm-offset-0  
        col-lg-2 col-md-4 col-sm-6 main">
         
                  <img  {{bind-attr src=logoUrl}}  
                   class="img-circle myimg" alt="Cinque Terre"  >
            
                  <h3>{{ name}}</h3>
                  <p>{{ details}}
                  </p>
            
        </div>
