<h2>{{msg}}</h2>
<div class="form-group">
  <label for="usr">first Name:</label>
 
  {{input value=firstName class="form-control"   }}
</div>
<div class="form-group">
  <label for="pwd">last name:</label>
  
  {{input value=lastname  class="form-control"  }}
</div>
 <button {{action 'contract' }}>save</button>

 
